@model Core.Models.ModuleOrder

@{
    ViewBag.Title = "Smazat objednávku modulu";
}

<h2>Delete</h2>

<h3>Jste si jisti, zda chce opravdu smazat objednávku?</h3>
<fieldset>
    <legend>ACEModule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModuleId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModuleId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="DeleteModuleOrder" /> |
        @Html.ActionLink("Zpět na seznam objednávek modulů", "ModuleOrders")
    </p>
}
