@model Core.Models.ACEModule

@{
    ViewBag.Title = "Smazat modul";
}

@Html.Partial("PageTitlePartial")

<h3>Jste si jisti, zda chce opravdu smazat modul?</h3>

<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonthPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonthPrice)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-primary" value="DeleteModule" /> 
        @Html.ActionLink("Zpět na seznam modulů", "Modules", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
    </p>
}
