@model Core.Models.Payment

@{
    ViewBag.Title = "Smazat platbu";
}

@Html.Partial("PageTitlePartial")

<h3>Jste si jisti, zda chce opravdu smazat platbu?</h3>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentSymbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentSymbol)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-primary" value="Smazat platbu" />
        @Html.ActionLink("Zpět na seznam plateb", "Payments", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
    </p>
}
