@model IEnumerable<Core.Models.ModuleOrder>

@{
    ViewBag.Title = "Správa objednávek modulů";
}

@Html.Partial("PageTitlePartial")

<p>
    @Html.ActionLink("Zadat novou objednávku modulu", "CreateModuleOrder", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Akce
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Editace", "EditModuleOrder", new { id=item.Id }, htmlAttributes: new { @class="btn btn-default btn-xs" })
            @Html.ActionLink("Smazat", "DeleteModuleOrder", new { id=item.Id }, htmlAttributes: new { @class="btn btn-default btn-xs" })        
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink("Zpět na admin index", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>


