@model IEnumerable<Core.Models.ModuleOrder>

@{
    ViewBag.Title = "Správa objednávek modulů";
}

Seznam objednávek modulů:

<p>
    @Html.ActionLink("Zadat novou objednávku modulu", "CreateModuleOrder")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Editace", "EditModuleOrder", new { id=item.Id }) |
            @Html.ActionLink("Smazat", "DeleteModuleOrder", new { id=item.Id })        
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink("Zpět na index", "Index")
</p>


