@model IEnumerable<Core.Models.ACEModule>

@{
    ViewBag.Title = "Moduly";
}

@Html.Partial("PageTitlePartial")

<p>
    @Html.ActionLink("Vytvořit nový modul", "CreateModule", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthPrice)
        </th>
        <th>
            Akce
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthPrice)
        </td>
        <td>
            @Html.ActionLink("Editace", "EditModule", new { id=item.Id }, htmlAttributes: new { @class="btn btn-default btn-xs" })
            @Html.ActionLink("Smazat", "DeleteModule", new { id=item.Id }, htmlAttributes: new { @class="btn btn-default btn-xs" })
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink("Zpět na admin index", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>


