@model IEnumerable<ACEAgent.Models.ModuleOrders>

@{
    ViewBag.Title = "Přehled objednaných modulů";
}

@Html.Partial("PageTitlePartial")

<ul class="breadcrumb">
    Výpis plateb pro platební symbol: <strong>@ViewBag.PaymentSymbol</strong>
    <br></br>
    Stav vašeho účtu: <strong>@ViewBag.Credit</strong>
</ul>

<p class="message-success">@ViewBag.StatusMessage</p>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Objednávka
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @if (item.OrderDate != null)
            {
                @Html.DisplayFor(modelItem => item.OrderDate)
            }
        </td>
        <td>
            @if (item.Active == false)
            {
                @Html.ActionLink("Objednat modul", "ConfirmOrder", new { moduleId=item.ModuleId }, htmlAttributes: new { @class="btn btn-default btn-xs" })    
            }
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Zpět", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>