@model IEnumerable<Core.Models.Payment>

@{
    ViewBag.Title = "Výpis plateb";
}

@Html.Partial("PageTitlePartial")

<ul class="breadcrumb">
    Výpis plateb pro platební symbol: @ViewBag.PaymentSymbol
    <br></br>
    Stav vašeho účtu: @ViewBag.Credit
</ul>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            Faktura
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.ActionLink("Vytvořit fakturu", "MakeFacture", new { paymentId=item.Id}, htmlAttributes: new { @class="btn btn-default btn-xs" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Zpět", "Index", routeValues: null, htmlAttributes: new { @class="btn btn-default" })
</p>


