@model ACEAgent.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <section>
        <fieldset>
        <ul>
            <li>
                <div>
                    @Html.LabelFor(m => m.OldPassword, new{@class = "control-label"})
                </div>
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.NewPassword, new{@class = "control-label"})
                </div>
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.ConfirmPassword, new{@class = "control-label"})
                </div>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new{@class = "control-group"})
                </div>
            </li>
        </ul>
        <input type="submit" class="btn btn-primary" value="Změnit heslo" />
        </fieldset>
    </section>
}
