@{
    ViewBag.Title = "Správa uživatelského účtu";
}

<p>Jste přihlášeni jako: <strong>@User.Identity.Name</strong>.</p>

<div>
    <nav>
        <ul class="nav nav-pills nav-stacked" id="usermenu">
            <li>@Html.ActionLink("Změna hesla", "ChangePassword", "Account")</li>
            <li>@Html.ActionLink("Změna údajů o uživateli", "UserProfile", "Account")</li>
            <li>@Html.ActionLink("Platební profil", "Payments", "PaymentsProfile")</li>
        </ul>
    </nav>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
