@{
    ViewBag.Title = "Správa uživatelského účtu";
}

@Html.Partial("PageTitlePartial")

<div>
    <nav>
        <ul class="nav nav-pills nav-stacked" id="usermenu">
            <li>@Html.ActionLink("Změna hesla", "ChangePassword", "Account")</li>
            <li>@Html.ActionLink("Změna údajů o uživateli", "UserProfile", "Account")</li>
            <li>@Html.ActionLink("Plateby a objednávky", "Index", "User")</li>
        </ul>
    </nav>
 </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
