@model PriceUpdater.Models.RegisterModel
@{
    ViewBag.Title = "Registrace";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2> Vytvoření nového účtu.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.CompanyName)
                @Html.TextBoxFor(m => m.CompanyName)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.CorrespondentionAddress)
                @Html.TextBoxFor(m => m.CorrespondentionAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.FacturationAddress)
                @Html.TextBoxFor(m => m.FacturationAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.EshopUrl)
                @Html.TextBoxFor(m => m.EshopUrl)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Dph)
                @Html.CheckBoxFor(m => m.Dph)
            </li>
            <li>
                @Html.LabelFor(m => m.PaymentSymbol)
                @Html.TextBoxFor(m => m.PaymentSymbol, new { @Value = ViewBag.PaymentSymbol })
            </li>
            <li>
                @Html.LabelFor(m => m.ICO)
                @Html.TextBoxFor(m => m.ICO)
            </li>
            <li>
                @Html.LabelFor(m => m.DIC)
                @Html.TextBoxFor(m => m.DIC)
            </li>
        </ol>
        <input type="submit" value="Registrovat" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
