@model ACEAgent.Models.RegisterModel
@{
    ViewBag.Title = "Vytvoření nového účtu.";
}

@Html.Partial("PageTitlePartial")

<p class="message-success">@ViewBag.StatusMessage</p>
    
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <ul class="breadcrumb red">
        @Html.ValidationSummary()
    </ul>
    
    <fieldset>
        <legend>Registrace.</legend>
        <ul>
            <li>
                <div>
                    @Html.LabelFor(m => m.UserName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.UserName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.Password, new{@class = "control-label"})
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.ConfirmPassword, new{@class = "control-label"})
                </div>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.CompanyName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.CompanyName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.FirstName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.FirstName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.LastName, new{@class = "control-label"})
                </div>
                <div>
                   @Html.TextBoxFor(m => m.LastName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.CorrespondentionAddress, new{@class = "control-label"})
                 </div>
                <div>
                    @Html.TextBoxFor(m => m.CorrespondentionAddress, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.FacturationAddress, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.FacturationAddress, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.EshopUrl, new{@class = "control-label"})
                </div>
                <div>
                   @Html.TextBoxFor(m => m.EshopUrl, new{@Value = "http://", @class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.Email, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Email, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.Dph, new{@class = "control-label"})
                    @Html.CheckBoxFor(m => m.Dph, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.PaymentSymbol, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.PaymentSymbol, new { @Value = ViewBag.PaymentSymbol, @class = "control-group" })
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.ICO, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.ICO, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.DIC, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.DIC, new{@class = "control-group"})
                </div>
            </li>
        </ul>
        <input type="submit" class="btn btn-primary" value="Registrovat" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
