@model ACEAgent.Models.UserPropertiesModel

@{
    ViewBag.Title = "Změna údajů o uživateli";
}

@Html.Partial("PageTitlePartial")

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("UserProfile", "Account"))
{
    @Html.AntiForgeryToken()
    <ul class="breadcrumb red">
        @Html.ValidationSummary()
    </ul>

    <section>
        <fieldset>
        <ul>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserName)
            <li>
                <div>
                    @Html.LabelFor(model => model.CompanyName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(model => model.CompanyName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.FirstName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.FirstName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.LastName, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.LastName, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.FacturationAddress, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.FacturationAddress, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.CorrespondentionAddress, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.CorrespondentionAddress, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.EshopUrl, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.EshopUrl, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.Email, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Email, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.Dph, new{@class = "control-label"})
                </div>
                <div>
                    @Html.CheckBoxFor(m => m.Dph, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.PaymentSymbol, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.PaymentSymbol, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.ICO, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.ICO, new{@class = "control-group"})
                </div>
            </li>
            <li>
                <div>
                    @Html.LabelFor(m => m.DIC, new{@class = "control-label"})
                </div>
                <div>
                    @Html.TextBoxFor(m => m.DIC, new{@class = "control-group"})
                </div>
            </li>
        </ul>
        <input type="submit" class="btn btn-primary" value="Změnit údaje o uživateli" />
        </fieldset>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
