@model Core.Models.UserProfile

@{
    ViewBag.Title = "Změna údajů o uživateli";
}

<p class="message-success">@ViewBag.StatusMessage</p>
<p>Jste přihlášeni jako: <strong>@User.Identity.Name</strong>.</p>


<h3>Editace uživatelského profilu</h3>

@using (Html.BeginForm("UserProfile", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <section>
        <fieldset>
        <legend>Change User Properties Form</legend>
        <ol>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserName)
            <li>
                @Html.LabelFor(model => model.CompanyName)
                @Html.TextBoxFor(model => model.CompanyName)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.Dph)
                @Html.CheckBoxFor(m => m.Dph)
            </li>
            <li>
                @Html.LabelFor(m => m.PaymentSymbol)
                @Html.TextBoxFor(m => m.PaymentSymbol)
            </li>
            <li>
                @Html.LabelFor(m => m.ICO)
                @Html.TextBoxFor(m => m.ICO)
            </li>
            <li>
                @Html.LabelFor(m => m.DIC)
                @Html.TextBoxFor(m => m.DIC)
            </li>
        </ol>
        <input type="submit" value="Změnit údaje o uživateli" />
        </fieldset>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
