@using System.Web.Optimization
<!DOCTYPE html>

<html lang="cz">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ACE Agent</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/Images/logo.gif" data-src="holder.js/50x50" alt="50x50" style="width: 50px; height: 50px; float:left;padding-top:5px">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"> ACE 2.0</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (Request.IsAuthenticated) {
                                <li>@Html.ActionLink("Uživatelský profil", "Manage", "Account")</li>
                                <li>@Html.ActionLink("Platby a objednávky", "Index", "User")</li>
                                <li>@Html.ActionLink("Nápověda", "Help", "User")</li>
                            }
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            @{
                                if (User.IsInRole("admin"))
                                {
                                    <li>@Html.ActionLink("Admin rozhraní", "Index", "Admin")</li>
                                    string[] userRoles = ((System.Web.Security.RolePrincipal)User).GetRoles();
                                
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sample Menu</a></li>
                                            <li><a href="#">Sample Menu</a></li>
                                            <li><a href="#">Another Menu</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Nav header</li>
                                            <li><a href="#">Separated link</a></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                
                                }
                            }
                </ul>
                <div class="navbar-form navbar-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>


                </div>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div style="height: 10%;"> 
        @RenderSection("Carousel", false)
    </div>

    
    <div class="container">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please enable JavaScript in your browser!
            </div>
        </noscript>

        <div class="row">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="span2">
                    @RenderSection("sidebar", required: false)
                </div>
            }

            <div id="content" @(IsSectionDefined("sidebar") ? Html.Raw("class=span10") : Html.Raw("class=span12"))>
                @if (IsSectionDefined("featured"))
                {
                    <div>
                        <div class="hero-unit">
                            @RenderSection("featured", required: false)
                        </div>
                    </div>
                }
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <footer id="footer">
                    <p class="text-center">&copy; Shadow MVC4 Application.</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
